*{
    margin: 0;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}



.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Sen', sans-serif;

}

.logo-container{
    flex: 1;
}

.logo{
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    color: #4dbf00;
}

.menu-container{
    flex: 6;
}
.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    cursor: pointer;
    margin-right: 30px;
    margin-top: 10px;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove default underline for links */
    display: inline-block; /* Ensure padding works correctly */
}

.menu-list-item1{
    margin-left:200px;
    color: lightgray;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

.menu-list-item:hover {
    color: grey;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-text-container i{
    cursor: pointer;
}

.logout-button{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 20px; /* Position the button at the bottom */
    right: 30px; /* Adjust this if needed to control the horizontal position */
    margin: 10px; /* Adjust margin as needed */
}

.logout-button.active{
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
    position: absolute;
    top: 30px; /* Position the button at the bottom */
    right: 80px; /* Adjust this if needed to control the horizontal position */
    margin: 10px; /* Adjust margin as needed */
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50px;
    cursor: pointer;
}


.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}

/*search bar test*/
.search-container {
    position: relative;
}

.search-icon {
    position: relative;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-bar {
    width: 0;
    padding: 8px;
    transition: width 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%; /* Set to the right side of the icon */
    margin-right: 10px; /* Adjust this margin as needed */
}

.search-bar.active {
    width: 200px;
    opacity: 1;
}
/*search bar test*/

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 15px);
    color: white;
}

.content-container{
    margin-left: 50px;
}

.featured-content{
    height: 50vh;
    background-color: tomato;
    padding: 50px;
    color: lightgrey;
}

.featured-title{
    size: 200px;
}

.featured-desc{
    width: 150px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    margin: 30px 0 ;
    padding: 10px;
    font-weight: bold;
}

.featured-sum{
    width: 500px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    margin: 30px 0 ;
}

.featured-button{
    background-color: #4dbf00;
    color: white;
    margin: 20px 0 ;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list-container{
    padding: 20px;
}

.movie-list{
    display: flex;
    height: 300px;
    align-items: center;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item{
    margin-right: 30;
    padding-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    transition: all 1s ease-in-out;
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 50%;
}

.movie-list-item-img-banner{
    transition: all 1s ease-in-out;
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 5%;
}
.movie-list-item-desc{
    background-color: black;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-style: 14px;
    position: absolute;
    top: 30%;
    left: 25px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-list-item-title{
    background-color: black;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 0 10px;
    font-style: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 25.5px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-button{
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 100px;
    right: 0;
    color: lightgrey;
    opacity: .5;
    cursor: pointer;
}

/*Light Mode*/
.container.active{
    background-color: white;
}

.movie-list-title.active{
    color: black;
}

.navbar-container.active{
    background-color: white;
    color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}


.menu-list-item.active{
    cursor: pointer;
    margin-right: 30px;
    color: black;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove default underline for links */
    display: inline-block; /* Ensure padding works correctly */
}

.menu-list-item.active{
    cursor: pointer;
    margin-right: 30px;
    color: black;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove default underline for links */
    display: inline-block; /* Ensure padding works correctly */
}

.menu-list-item1.active{
    margin-left:200px;
    color: darkblue;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}